<a href="https://colab.research.google.com/github/RaianaSeixas/NLT/blob/main/Relevant_Job__Title_Pictures_v03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Describe...

----------
Author: Raiana Roland Seixas
09/07/2022

# Data load & Libraries

In [36]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [37]:
!git clone https://github.com/RaianaSeixas/NLT
%cd NLT

Cloning into 'NLT'...
remote: Enumerating objects: 12, done.
remote: Counting objects: 100% (12/12), done.
remote: Compressing objects: 100% (12/12), done.
remote: Total 12 (delta 3), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (12/12), done.
/content/NLT/NLT/NLT

In [38]:
df=pd.read_csv('occupation_pictures.csv')
df

,Job Title,Pic Title,Num Resumes,Google Position,Strict Face Count,Relaxed Face Count,KB size,Height,Width,Resolution,Text Regions,Picture URL,Manual Label
0,3D Modeler,Our Top 19 3D Modeling Software Picks ...,1261,0,0,7,276.763672,1917,2301,4411017,2,https://format-magazine-production-res.cloudin...,NaN
1,3D Modeler,7 Tips for Beginner 3D Modelers ...,1261,1,0,3,44.343750,340,747,253980,5,http://static1.squarespace.com/static/5320f582...,NaN
2,3D Modeler,How to Become an Expert 3D Modeler ...,1261,2,0,2,43.088867,380,660,250800,8,https://www.gamedesigning.org/wp-content/uploa...,NaN
3,3D Modeler,What is 3D Modeling & What's It Used For?,1261,3,0,2,78.623047,330,750,247500,1,https://cdn.conceptartempire.com/images/04/522...,NaN
4,3D Modeler,Shoofping 3D Modeler ...,1261,4,0,1,97.517578,1075,1909,2052175,3,http://shoofping.com/wp-content/uploads/2017/1...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
653,Wind Turbine Engineer,Wind turbine technician fastest-growing ...,61,4,0,0,89.249023,720,1280,921600,0,https://i.ytimg.com/vi/lUf2mOYp1d4/maxresdefau...,good
654,Wind Turbine Engineer,How to Become a Wind Energy Engineer ...,61,5,0,0,37.949219,200,300,60000,0,https://www.environmentalscience.org/wp-conten...,NaN
655,Wind Turbine Engineer,Wind - Get Into Energy,61,6,0,1,324.730469,500,750,375000,1,http://getintoenergy.com/wp-content/uploads/20...,good
656,Wind Turbine Engineer,Wind-energy programs yield engineering ...,61,7,0,1,36.197266,920,613,563960,0,https://s.hdnux.com/photos/20/15/22/4248747/3/...,good
657,Wind Turbine Engineer,Career Map: Wind Technician ...,61,8,0,2,167.145508,379,525,198975,0,https://www.energy.gov/sites/prod/files/styles...,good

In [39]:
data=df.drop(columns=['Picture URL'])

In [40]:
data['Manual Label'].describe()

count      133
unique       2
top       good
freq        91
Name: Manual Label, dtype: object

# Exploratory Analysis

# Data Preprocessing

In [41]:
import nltk
ps = nltk.PorterStemmer()
wn=nltk.WordNetLemmatizer()
nltk.download("popular")
stopwords = nltk.corpus.stopwords.words('english')
import re
import string

[nltk_data] Downloading collection 'popular'
[nltk_data]    |
[nltk_data]    | Downloading package cmudict to /root/nltk_data...
[nltk_data]    |   Package cmudict is already up-to-date!
[nltk_data]    | Downloading package gazetteers to /root/nltk_data...
[nltk_data]    |   Package gazetteers is already up-to-date!
[nltk_data]    | Downloading package genesis to /root/nltk_data...
[nltk_data]    |   Package genesis is already up-to-date!
[nltk_data]    | Downloading package gutenberg to /root/nltk_data...
[nltk_data]    |   Package gutenberg is already up-to-date!
[nltk_data]    | Downloading package inaugural to /root/nltk_data...
[nltk_data]    |   Package inaugural is already up-to-date!
[nltk_data]    | Downloading package movie_reviews to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package movie_reviews is already up-to-date!
[nltk_data]    | Downloading package names to /root/nltk_data...
[nltk_data]    |   Package names is already up-to-date!
[nltk_data]    | Downloading package shakespeare to /root/nltk_data...
[nltk_data]    |   Package shakespeare is already up-to-date!
[nltk_data]    | Downloading package stopwords to /root/nltk_data...
[nltk_data]    |   Package stopwords is already up-to-date!
[nltk_data]    | Downloading package treebank to /root/nltk_data...
[nltk_data]    |   Package treebank is already up-to-date!
[nltk_data]    | Downloading package twitter_samples to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package twitter_samples is already up-to-date!
[nltk_data]    | Downloading package omw to /root/nltk_data...
[nltk_data]    |   Package omw is already up-to-date!
[nltk_data]    | Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]    |   Package omw-1.4 is already up-to-date!
[nltk_data]    | Downloading package wordnet to /root/nltk_data...
[nltk_data]    |   Package wordnet is already up-to-date!
[nltk_data]    | Downloading package wordnet2021 to /root/nltk_data...
[nltk_data]    |   Package wordnet2021 is already up-to-date!
[nltk_data]    | Downloading package wordnet31 to /root/nltk_data...
[nltk_data]    |   Package wordnet31 is already up-to-date!
[nltk_data]    | Downloading package wordnet_ic to /root/nltk_data...
[nltk_data]    |   Package wordnet_ic is already up-to-date!
[nltk_data]    | Downloading package words to /root/nltk_data...
[nltk_data]    |   Package words is already up-to-date!
[nltk_data]    | Downloading package maxent_ne_chunker to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package maxent_ne_chunker is already up-to-date!
[nltk_data]    | Downloading package punkt to /root/nltk_data...
[nltk_data]    |   Package punkt is already up-to-date!
[nltk_data]    | Downloading package snowball_data to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package snowball_data is already up-to-date!
[nltk_data]    | Downloading package averaged_perceptron_tagger to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package averaged_perceptron_tagger is already up-
[nltk_data]    |       to-date!
[nltk_data]    |
[nltk_data]  Done downloading collection popular

## Clean up text

In [42]:
'''def clean_text(text):
    text = "".join([word for word in text if word not in string.punctuation])
    tokens = re.split('\W+', text)
    text = [word for word in tokens if word not in stopwords]
    return text

data['Job Title'] = data['Job Title'].apply(lambda x: clean_text(x.lower()))
data['Pic Title'] = data['Pic Title'].apply(lambda x: clean_text(x.lower()))
data.head()'''

'def clean_text(text):\n    text = "".join([word for word in text if word not in string.punctuation])\n    tokens = re.split(\'\\W+\', text)\n    text = [word for word in tokens if word not in stopwords]\n    return text\n\ndata[\'Job Title\'] = data[\'Job Title\'].apply(lambda x: clean_text(x.lower()))\ndata[\'Pic Title\'] = data[\'Pic Title\'].apply(lambda x: clean_text(x.lower()))\ndata.head()'

## Stem / Lemmatize text

In [43]:
'''def stemming(text):
  stemmed=[ps.stem(word) for word in text]
  return stemmed

data['Stem Job Title'] = data['Job Title'].apply(lambda x: stemming(x))
data['Stem Pic Title'] = data['Pic Title'].apply(lambda x: stemming(x))
data.head()'''

"def stemming(text):\n  stemmed=[ps.stem(word) for word in text]\n  return stemmed\n\ndata['Stem Job Title'] = data['Job Title'].apply(lambda x: stemming(x))\ndata['Stem Pic Title'] = data['Pic Title'].apply(lambda x: stemming(x))\ndata.head()"

In [44]:
def clean_text(text):
    text = "".join([word.lower() for word in text if word not in string.punctuation])
    tokens = re.split('\W+', text)
    text = [ps.stem(word) for word in tokens if word not in stopwords]
    return text

## Count vectorization

In [45]:
from sklearn.feature_extraction.text import CountVectorizer

In [46]:
count_vec=CountVectorizer(analyzer=clean_text)
X_count=count_vec.fit_transform(data['Job Title'])
X_count.shape

(658, 146)

In [47]:
cols=count_vec.get_feature_names()
X_job=pd.DataFrame(X_count.toarray())
X_job.columns=cols
X_job

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,3d,account,administr,admiss,aid,air,analysi,analyst,analyt,applic,...,suppli,support,system,teacher,technician,test,therapist,turbin,vice,wind
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
653,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
654,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
655,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
656,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
657,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1

In [48]:
count_vec=CountVectorizer(analyzer=clean_text)
X_count=count_vec.fit_transform(data['Pic Title'])
cols=count_vec.get_feature_names()
X_pic=pd.DataFrame(X_count.toarray())
X_pic.columns=cols
X_pic

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,,050215n2385r023,090320n8547m015,1,10,11,13,15,16,16mm,...,xarvio,yale,yamasaki,yield,york,youngest,youtub,zackeri,zarantech,zelaya
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
653,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
654,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
655,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
656,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
657,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [49]:
pd.DataFrame(X_count.toarray())

,0,1,2,3,4,5,6,7,8,9,...,819,820,821,822,823,824,825,826,827,828
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
653,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
654,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
655,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
656,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
657,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

##Data split

In [50]:
data=data.drop(columns=['Job Title','Pic Title'])

In [51]:
''' Data (with labels) to test the model '''

labaled= data[data['Manual Label'].notna()]
labaled.head()

,Num Resumes,Google Position,Strict Face Count,Relaxed Face Count,KB size,Height,Width,Resolution,Text Regions,Manual Label
21,1824,1,0,2,529.085938,1382,2200,3040400,2,good
24,1824,4,0,1,28.923828,446,600,267600,0,good
29,347272,2,0,0,56.383789,640,1280,819200,1,bad
32,347272,7,1,2,390.638672,844,1243,1049092,0,good
39,868,0,1,10,640.045898,1500,2000,3000000,0,good

In [52]:
yTest=labaled['Manual Label']
XTest=labaled.drop(columns=['Manual Label'])
#XTest

In [53]:
# Data to train the model

lIndex=labaled.index
XTrain= data.drop(lIndex)
XTrain= data.drop(columns=['Manual Label'])
XTrain

,Num Resumes,Google Position,Strict Face Count,Relaxed Face Count,KB size,Height,Width,Resolution,Text Regions
0,1261,0,0,7,276.763672,1917,2301,4411017,2
1,1261,1,0,3,44.343750,340,747,253980,5
2,1261,2,0,2,43.088867,380,660,250800,8
3,1261,3,0,2,78.623047,330,750,247500,1
4,1261,4,0,1,97.517578,1075,1909,2052175,3
...,...,...,...,...,...,...,...,...,...
653,61,4,0,0,89.249023,720,1280,921600,0
654,61,5,0,0,37.949219,200,300,60000,0
655,61,6,0,1,324.730469,500,750,375000,1
656,61,7,0,1,36.197266,920,613,563960,0
657,61,8,0,2,167.145508,379,525,198975,0

# Predictive Model